<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AgregarUsuario</servlet-name>
        <servlet-class>Controlador.AgregarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comprobarUsuario</servlet-name>
        <servlet-class>Controlador.comprobarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrarSesion</servlet-name>
        <servlet-class>Controlador.cerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>añadirProducto</servlet-name>
        <servlet-class>Controlador.añadirProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarProducto</servlet-name>
        <servlet-class>Controlador.agregarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarProducto</servlet-name>
        <servlet-class>Controlador.eliminarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tramitarPedido</servlet-name>
        <servlet-class>Controlador.tramitarPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listadoPedidos</servlet-name>
        <servlet-class>Controlador.listadoPedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cambiarCantidades</servlet-name>
        <servlet-class>Controlador.cambiarCantidades</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgregarUsuario</servlet-name>
        <url-pattern>/AgregarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comprobarUsuario</servlet-name>
        <url-pattern>/comprobarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrarSesion</servlet-name>
        <url-pattern>/cerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>añadirProducto</servlet-name>
        <url-pattern>/a_adirProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarProducto</servlet-name>
        <url-pattern>/agregarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarProducto</servlet-name>
        <url-pattern>/eliminarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tramitarPedido</servlet-name>
        <url-pattern>/tramitarPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listadoPedidos</servlet-name>
        <url-pattern>/listadoPedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cambiarCantidades</servlet-name>
        <url-pattern>/cambiarCantidades</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
